.controls {
  background-color: black;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  display: none;
  grid-template-columns: 1fr 2fr 1fr;
}

.controls-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.controls-title h1 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.controls-volume {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
}

#volume {
  height: 2px;
  width: 100%;
  display: none;
  animation: volumeAnim 1s ease-in;
}

#volume[value] {
  appearance: none;
  -webkit-appearance: none;
}

@keyframes volumeAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animOpac {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.controls-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls-container_button {
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
}

#progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

#progress[value] {
  appearance: none;
  -webkit-appearance: none;
}

#duration {
  font-size: 10px;
}

@media (max-width: 720px) {
  .controls {
    grid-template-columns: 2fr 1fr;
  }
  .controls-title {
    display: none;
  }
}
