.container-content {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 1.5rem;
  grid-template-columns: 2fr 1fr;
  animation: delay 1s ease-in-out;
}

.content-video {
  width: 100%;
  padding: 3rem;
  display: none;
  animation: delay 1s ease-in-out;
}

@keyframes delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .container-content {
    display: block;
  }
}
