.content-list {
  width: 100%;
  height: 75vh;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 10rem;
  color: white;
  overflow-y: scroll;
}

.content-list::-webkit-scrollbar {
  width: 5px;
}

.content-list::-webkit-scrollbar-track {
  background: #19242e;
  border-radius: 9999px;
}

.content-list::-webkit-scrollbar-thumb {
  background-color: rgb(62, 62, 62);
  border-radius: 9999px;
}

.content-list_card {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem;
  cursor: pointer;
  border-bottom: 1px solid rgb(46, 46, 46);
}

.content-list_card:hover {
  background-color: black;
}

.content-list .active {
  background-color: black;
}

.content-list .actives {
  background-color: black;
}

.content-list_title h2 {
  font-size: 18px;
}

.content-list_items {
  font-size: 12px;
  margin-top: 1.5rem;
}

.image {
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
}

@media (max-width: 720px) {
  .content-list {
    height: 80vh;
  }
}
