.content-video_image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.image-panel {
  width: 50%;
  cursor: pointer;
  border-radius: 16px;
}

.opacity {
  opacity: 0.45;
}

.image-panel:hover {
  opacity: 0.45;
}

@media (max-width: 600px) {
  .content-video_image {
    height: 20vh;
  }
}
