* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e0e0e;
}

.navbar {
  background-color: black;
  font-weight: 500;
  color: white;
  padding: 10px;
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.container-content {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
}

.content-video {
  width: 100%;
  padding: 3rem;
}

.content-list {
  width: 100%;
  padding: 3rem;
}

.container-controls {
  background-color: black;
  padding: 2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
